
body {
	background: rgb(240, 240, 240);
	font-size: 12pt;
	font-family: Helvetica;
	color: rgb(255, 255, 255);	
}
h1 {
	font-size: 36pt;
	font-weight: bold; 
}
h2 {
	font-size: 20pt;
}
p {
	padding-bottom: 5px; 
}
a {
	color: rgb(51, 102, 255);
}

.vero1{
	font-size: 20pt;
	color: black;
	font-weight: bold;
}

.vero2{
	font-size: 20pt;
	color: black;
}

.image1 {
    padding-top: 5%;
    text-align: center;
}

.image2 {
    padding-top: 0%;
    text-align: center;
}

.image3 {
    padding-top: 18%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    color: darkgrey; 
    font-size: 12pt;
}

.row {
    padding-bottom: 10px;
}


.column1 {
	background: none;
	background-image: url(background-cv.jpg);
	background-repeat: repeat-x;
	min-height: 540px;
	border: 2px solid rgb(211, 211, 211); 
}
.column2 {
	background-image: url(pattern.png);
	height: 200px;
	border: 2px solid rgb(211, 211, 211); 

}
.column3 {
	background-image: url(pattern.png);
	height: 200px;
	border: 2px solid rgb(211, 211, 211); 

}
.column4 {
	background-image: url(pattern.png);
	height: 200px;
	border: 2px solid rgb(211, 211, 211); 

}


input[type="submit"] {
    border: 2px; 
    color: white;
    background-color: lightblue; 
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

